.text
{
    text-align: center;
    margin-top: 12rem;
    margin-left: 10rem;
    background-color: rgb(207, 239, 252);
    display: inline-block;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;;
}